apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: prod
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      cybernotes: backend
  template:
    metadata:
      labels:
        cybernotes: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          ports:
          - containerPort: 8080
          env:
          - name: SPRING_PROFILES_ACTIVE
            value: "{{ .Values.env.SPRING_PROFILES_ACTIVE }}"
          - name: DB_URL
            value: "{{ .Values.env.DB_URL }}"
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: username
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: password  
          - name: ALLOWED_ORIGINS
            value: "{{ .Values.env.ALLOWED_ORIGINS }}"
