apiVersion: v1
kind: Secret
metadata:
  name: basic-auth-secret
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  users: {{ printf "%s:%s" .Values.auth.username .Values.auth.password | b64enc }}
